obj/
bin/
ipch/
*.vs
*.user
*.filters
*.aps
Src/build
*.VC.db
Output/
test_samples/out/
/Src/Debug
/Src/Release
/Src/ElanUtils/Test/Debug
/Src/ElanUtils/Debug
/Src/ElanUtils/Release
/Src/FileUtils/Test/Debug
/Src/FileUtils/Debug
/Src/FileUtils/Release
/Src/LiftUtils/Test/Debug
/Src/LiftUtils/Debug
/Src/LiftUtils/Release
/Src/Lang/Release
/Src/Lang/Debug
/Src/SA/Debug
/Src/SA/Release
/Src/SA_DSP/Debug
/Src/SA_DSP/Release
/Src/SA_KLATT/Debug
/Src/SA_KLATT/Release
/Src/WaveUtils/Test/Debug
/Src/WaveUtils/Debug
/Src/WaveUtils/Release
/Src/XMLUtils/Debug
/Src/XMLUtils/Release
/Src/ZGraph/Debug
/Src/ZGraph/Release
/Src/URIParser/win32/Visual_Studio_2015/Debug
/Src/URIParser/win32/Visual_Studio_2015/Release
/Src/MBROLA/Debug
/Src/MBROLA/Release
/Src/Local.testsettings
/Src/SpeechAnalyzer.VC.opendb
/Src/TraceAndTestImpact.testsettings
/Src/SpeechAnalyzer.sdf
/Src/ConsoleApplication1
