*.VC.db
*.aps
*.filters
*.user
*.vs
*.cache
/*.opendb
/SpeechAnalyzer.sdf
/Src/ConsoleApplication1
/Src/ElanUtils/Debug
/Src/ElanUtils/Release
/Src/ElanUtilsTest/Debug
/Src/ElanUtilsTest/Release
/Src/ElanUtilsTest/x64/Debug
/Src/FileUtils/Debug
/Src/FileUtils/Release
/Src/FileUtils/Test/Debug
/Src/FileUtils/Test/Release
/Src/FileUtils/x64/Debug
/Src/Lang/Debug
/Src/Lang/Release
/Src/Lang/x64/Debug
/Src/LiftUtils/Debug
/Src/LiftUtils/Release
/Src/LiftUtils/x64/Debug
/Src/LiftUtilsTest/Debug
/Src/LiftUtilsTest/Release
/Src/LiftUtilsTest/x64/Debug
/Src/Local.testsettings
/Src/MBROLA/Debug
/Src/MBROLA/Release
/Src/MBROLA/x64/Debug
/Src/SA/Debug
/Src/SA/Release
/Src/SA/x64/Debug
/Src/SAScriptingTest/Debug
/Src/SAScriptingTest/Release
/Src/SAScriptingTest/x64/Debug
/Src/SA_DSP/Debug
/Src/SA_DSP/Release
/Src/SA_DSP/x64/Debug
/Src/SA_DSP/x64/Debug
/Src/SA_KLATT/Debug
/Src/SA_KLATT/Release
/Src/SA_KLATT/x64/Debug
/Src/SpeechAnalyzer.VC.opendb
/Src/SpeechAnalyzer.sdf
/Src/TraceAndTestImpact.testsettings
/Src/URIParser/win32/Visual_Studio_2015/Debug
/Src/URIParser/win32/Visual_Studio_2015/Release
/Src/URIParser/win32/Visual_Studio_2015/x64/Debug
/Src/WaveUtils/Debug
/Src/WaveUtils/Release
/Src/WaveUtils/Test/Debug
/Src/WaveUtils/Test/Release
/Src/WaveUtils/x64/Debug
/Src/WaveUtilsTest/Debug
/Src/WaveUtilsTest/Release
/Src/WaveUtilsTest/x64/Debug
/Src/XMLUtils/Debug
/Src/XMLUtils/Release
/Src/XMLUtils/x64/Debug
/Src/ZGraph/Debug
/Src/ZGraph/Release
/Src/ZGraph/x64/Debug
/Debug
/Release
/x64/Debug
Output/
Src/build
bin/
ipch/
obj/
test_samples/out/
packages/