// rs_mcap.rc

#include "rs_minic.h"
             
IDB_MINICAP_CLOSE       BITMAP  DISCARDABLE     "RES\\MCAP_CL.BMP"
IDB_MINICAP_MAXIMIZE    BITMAP  DISCARDABLE     "RES\\MCAP_MAX.BMP"
IDB_MINICAP_MINIMIZE    BITMAP  DISCARDABLE     "RES\\MCAP_MIN.BMP"
IDB_MINICAP_RESTORE     BITMAP  DISCARDABLE     "RES\\MCAP_RES.BMP"
IDB_MINICAP_ICON        BITMAP  DISCARDABLE     "RES\\MCAP_SYS.BMP"
